name: Python application - PyTest

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:

    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: ['3.10', '3.11', '3.12', '3.13', '3.14']
    name: Python ${{ matrix.python-version }} sample

    steps:
    - uses: actions/checkout@v6
    - name: Set up Python
      uses: actions/setup-python@v6
      with:
        python-version: ${{matrix.python-version}}

    - name: Install poetry
      run: |
        python -m pip install --upgrade pip poetry
        poetry install

    - name: Test with MyPy
      run: |
        poetry run pytest tests/test.py
